.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    color: black;
}
.links > a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font: 700;
    font-size: 18px;
}