.production{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
}
.production-img > img{
    height: 450px;
    width: 100%;
}
.production-desc{
    padding: 50px;
}
.production-desc > p{
    color: gray;
}
.production-btn > button{
    background-color: rgb(243, 67, 67);
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    font: bold;
}